<!doctype html>
<html>
<head>
    <% include partials/common_title.ejs %>
    <% include partials/common_css.ejs %>
    <style>
        body        { padding-top:80px; }
        .orange { color: rgb(240, 140, 77);  }
        .blue { color: rgb(74, 132, 185); }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="orange fa fa-graduation-cap"></span> UF Messenger Bots <span class="blue fa fa-graduation-cap"></span></h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a disabled href="/api/auth/canvas" class="btn btn-canvas"><span class="fa fa-graduation-cap"></span> Canvas</a>
    </div>
</div>
</body>
</html>
